$gray-custom: #efefef;
$primary-custom: #4545a5;
$light-custom: #fbfbfb;
$theme-colors: (
  "gray-custom": $gray-custom,
  "primary-custom": $primary-custom,
  "light-custom": $light-custom,
);
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1540px
);
$enable-shadows: true;
