-
  let chatsList = {
    "1": [{
      name: "Вениамин Редакторович",
      time: "11:45",
      message: "o_O",
      avatar: "./imgs/avatar_4.jpg"
    }],

    "2": [{
      name: "Джедай Падаванов",
      time: "10:12",
      message: "Привет, скоро третий проект? Уже скоро надо будет выложить.",
      avatar: "./imgs/avatar_2.jpg"
    }],

    "3": [{
      name: "Алексей Примадонин",
      time: "08:53",
      message: "Тесты упали >_<",
      avatar: "./imgs/avatar_3.jpg"
    }],
  }

  titleAndFind = {
    formName: "Чаты", 
    formText: "Поиск по сообщениям"
  }

div(class="bg-white px-4 pt-5 tab-pane fade overflow-list overflow-list-left-md" id="chats" role="tabpanel" aria-labelledby="chats-tab")
  include titleAndFind.pug
  ul(class="list-group mt-5")
    each persons, index in chatsList
      each person in persons
        li(class="list-item list-unstyled action-on-chat")
          a(href="#" class="list-group-item-action d-flex text-decoration-none px-3 shadow-sm border-top-0 action-on-link")
            img.avatar(src= person.avatar)  
            div(class="d-flex flex-column p-4")
              div(class="d-flex justify-content-between w-custom")
                h3(class="fw-bold text-dark h6")= person.name
                p(class="small text-secondary")=person.time
              p(class="small text-secondary overflow-hidden text-truncate w-custom")= person.message
 
