-
  let contacts = {
    "A": [{
      name: "Алексей Примадонин",
      status: "Онлайн",
      avatar: "./imgs/avatar_3.jpg"
    }],

    "В": [{
      name: "Вениамин Редакторович",
      status: "Онлайн",
      avatar: "./imgs/avatar_4.jpg"
    }],

    "Д": [{
      name: "Джедай Падаванов",
      status: "Был онлайн вчера",
      avatar: "./imgs/avatar_2.jpg"
    }],

    "К": [{
      name: "Кодовёнок Хекслетович",
      status: "Был онлайн 3 часа назад",
      avatar: "./imgs/avatar_1.jpg"
    },
    {
      name: "Королева Верстальщина",
      status: "Была онлайн вчера",
      avatar: "./imgs/avatar_5.jpg"
    }],

    "П": [{
      name: "Питонист Джангович",
      status: "Был онлайн вчера",
      avatar: "./imgs/avatar_6.jpg"
    }],
  }

  titleAndFind = {
    formName: "Контакты", 
    formText: "Поиск по контактам"
  }

div(class="bg-white px-4 pt-5 tab-pane fade show active overflow-list overflow-list-left-md" id="contacts" role="tabpanel" aria-labelledby="contacts-tab")
  include titleAndFind.pug
  ul(class="list-group")
    each persons, letter in contacts
      li(class="list-item list-unstyled mb-3")
        p(class="text-muted mb-2 mt-5")= letter
        each person in persons
          a(href="#" class="list-group-item-action action-on-contact d-flex text-decoration-none p-4 shadow-sm border-top-0")
            img.avatar(src= person.avatar)
            div(class="d-flex flex-column ps-4")
              h3(class="fw-bold text-dark h6")= person.name
              p(class="small text-secondary m-0")= person.status
