header(class="bg-primary-custom rounded-top")
  a(href='https://ru.hexlet.io')
    p.visually-hidden Хекслет
    svg(class="logo")
      use(xlink:href="../../imgs/icons/logo.svg")
   
  nav
    a(href='/contacts') Контакты
    a(href='/messages') Сообщения
    a(href='/profile') Профиль