form(class="mb-0")
  div(class="form-group mb-0")
    label(class="h2 text-dark fw-bold" for="search")= titleAndFind.formName
    input(type="text" id="search" placeholder= titleAndFind.formText class="form-control p-4 border-0 border-bottom border-gray-custom bg-white shadow-none")