body {
  height: 100vh;

  overflow-y: hidden;
}

.mt-3r {
  margin-top: 3rem;
}

.mx-1_5r {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.main-decor {
  border-radius: 1rem;
  background-color: $white;
}
